<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/header')%>
  <body>
    <div class="container">
      <header>
        <!--Menu-->
      </header>
      <div class="card">
        <div class="card-header">
          <h1>Ejemplo</h1>
        </div>
        <div class="card-body">
          <%if( departments.length > 0){%>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Fecha</th>
                <th scope="col">Departamento</th>
                <th scope="col">Municipio</th>
              </tr>
            </thead>
            <tbody>
              <%departments.forEach( ruta => {%>
                <tr>
                  <td><%=ruta.id%></td>
                  <td><%=ruta.Fecha%></td>
                  <td><%=ruta.Depatamento%></td>
                  <td><%=ruta.Municipio%></td>
                </tr>
              <%})%>
            </tbody>
          </table>
          <%}else{%>
          <h3>No hay Registros</h3>
          <%}%>
          <a href="/new-pc" class="btn btn-secondary">Nuevo Registro</a>
        </div>
        <div class="card-footer">Pie de página</div>
      </div>
      <footer><%- include('./templates/footer')%></footer>
    </div>
  </body>
</html>
